# Prerequisites
*.d

# Compiled Object files
/objs/*.slo
/objs/*.lo
/objs/*.o
/objs/*.obj

# Precompiled Headers
/includes/*.gch
/includes/*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
